[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = /home/bruce/dev/RadioLib_Zephyr
	branch = zephyr-hal
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
